.header_title {
	color: #fafafa;
	font-size: 58px;
	font-weight: 900;
	line-height: 1;
	z-index: 0;
	margin-bottom: 8px;

	@media (max-width: 1440px) {
		font-size: 52px;
	}

	@media (max-width: 1240px) {
		font-size: 42px;
	}

	@media (max-width: 1024px) {
		font-size: 38px;
	}

	@media (max-width: 864px) {
		font-size: 36px;
		margin-bottom: 6px;
	}

	@media (max-width: 375px) {
		font-size: 32.8px;
	}

	@media (max-width: 320px) {
		font-size: 32px;
	}

	span {
		color: #9e6b1e;
		text-shadow: 0px -10px 25px rgba(158, 107, 30, 0.5),
			0px 10px 25px rgba(158, 107, 30, 0.5);
		font-size: 72px;
		font-weight: 800;
		line-height: 1;
		word-break: keep-all;
		width: 140%;
		@media (max-width: 1440px) {
			font-size: 65px;
		}

		@media (max-width: 1240px) {
			font-size: 61.2px;
		}

		@media (max-width: 1024px) {
			font-size: 54px;
		}

		@media (max-width: 864px) {
			width: 100%;
			font-size: 48px;
			margin-top: 4px;
		}

		@media (max-width: 375px) {
			font-size: 44.8px;
		}

		@media (max-width: 320px) {
			font-size: 43px;
		}
	}

	&__span1 {
		@media (min-width: 480px) {
			display: block;
		}

		@media (max-width: 480px) {
			display: none;
		}
	}

	&__span2 {
		@media (min-width: 480px) {
			display: none;
		}

		@media (max-width: 480px) {
			display: block;
		}

		@media (max-width: 300px) {
			display: none;
		}
	}

	&__span3 {
		@media (min-width: 300px) {
			display: none;
		}

		@media (max-width: 300px) {
			display: block;
		}
	}
}
