.right {
	display: flex;
	align-items: center;
	gap: 15px;

	.burger {
		display: none;
		cursor: pointer;
		width: 32px;
		height: 32px;
		position: absolute;
		top: 5;
		right: 0;
		z-index: 110;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background: transparent;
		border: none;
		padding: 0;

		span {
			width: 100%;
			height: 3px;
			background: white;
			border-radius: 2px;
			transition: all 0.3s ease;
		}

		&.open {
			span:nth-child(1) {
				transform: rotate(45deg) translate(7.5px, 7.5px);
			}

			span:nth-child(2) {
				opacity: 0;
			}

			span:nth-child(3) {
				transform: rotate(-45deg) translate(7.5px, -7.5px);
			}
		}

		@media (min-width: 768px) {
			display: none;
		}
	}

	.sidebar {
		display: flex;
		gap: 16px;

		@media (max-width: 1024px) {
			gap: 10px;
		}

		img {
			@media (max-width: 1240px) {
				width: 24px;
				height: 24px;
			}

			@media (max-width: 1024px) {
				width: 21px;
				height: 21px;
			}
		}

		@media (max-width: 768px) {
			position: fixed;
			top: 0;
			left: -100%;
			width: 250px;
			height: 100%;
			background: rgba(0, 0, 0, 1);
			padding: 60px 20px;
			display: flex;
			flex-direction: column;
			gap: 20px;
			transition: left 0.3s ease;
			z-index: 100;

			&.open {
				left: 0;
			}
		}
	}

	img {
		width: 32px;
		height: 32px;

		@media (max-width: 1240px) {
			width: 28px;
			height: 28px;
		}

		@media (max-width: 1024px) {
			width: 24px;
			height: 24px;
		}
	}

	@media (max-width: 768px) {
		.burger {
			display: flex;
		}
	}
}
