.header {
	display: flex;
	flex-direction: row;
	max-width: 1900px;

	@media (max-width: 864px) {
		max-width: 72%;
	}

	@media (max-width: 764px) {
		max-width: 100%;
	}

	p {
		margin-top: 24px;
		color: #fafafa;
		font-size: 24px;
		font-weight: 600;
		width: 110%;

		@media (max-width: 1440px) {
			font-size: 20.5px;
		}

		@media (max-width: 1240px) {
			margin-top: 18px;
			font-size: 19px;
			text-wrap: balance;
		}

		@media (max-width: 1024px) {
			text-wrap: wrap;
			margin-top: 16px;
			font-size: 16.65px;
		}

		@media (max-width: 864px) {
			margin-top: 4px;
		}

		@media (max-width: 768px) {
			width: 100%;
			max-width: 500px;
		}
	}

	img {
		margin-right: -48px;

		@media (max-width: 1440px) {
			width: 620px;
			height: auto;
		}

		@media (max-width: 1240px) {
			width: 520px;
			margin-right: -36px;
		}

		@media (max-width: 1024px) {
			width: 420px;
		}

		@media (max-width: 864px) {
			position: absolute;
			right: 0;
			margin-right: -0px;
		}

		@media (max-width: 768px) {
			display: none;
		}
	}

	&_container {
		margin-top: calc((1vh + 1vw) * 5.5);
		z-index: 2;

		@media (max-width: 764px) {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			text-align: center;
			width: 100%;
		}

		div {
			display: flex;
			column-gap: 18px;
			margin-top: 18px;
			@media (max-width: 1240px) {
				column-gap: 16px;
			}

			@media (max-width: 1024px) {
				column-gap: 12px;
			}
		}
	}
}
