.about {
	.content {
		display: flex;
		flex-direction: row;
		margin: 36px 0 0 80px;

		@media (max-width: 1240px) {
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin: 32px 0 0 0;
		}
	}

	.description {
		font-size: 25.4px;
		line-height: 1.35;
		text-wrap: balance;
		margin-bottom: 64px;

		@media (max-width: 1440px) {
			font-size: 20px;
		}

		@media (max-width: 1240px) {
			text-align: center;
			margin-bottom: 36px;
		}

		@media (max-width: 1240px) {
			font-size: 16.65px;
		}

		@media (max-width: 480px) {
			font-size: 16.7px;
		}

		@media (max-width: 375px) {
			font-size: 16.5px;
			max-width: 310px;
		}

		@media (max-width: 320px) {
			font-size: 16.35px;
			max-width: 276px;
		}
	}

	.name {
		font-size: 36px;
		font-weight: 800;
		line-height: 40px;

		@media (max-width: 1440px) {
			font-size: 32px;
		}

		@media (max-width: 1240px) {
			text-align: center;
		}

		@media (max-width: 480px) {
			font-size: 28px;
		}

		@media (max-width: 480px) {
			font-size: 26px;
		}
	}

	.image {
		display: flex;
		align-items: center;
		min-width: 269px;
		height: 478px;
		background: #d9d9d9;
		border-radius: 8px;
		margin-right: 42px;

		@media (max-width: 1440px) {
			min-width: 218px;
			height: 387.25px;
			margin-right: 36px;
		}

		@media (max-width: 1240px) {
			margin-right: 0;
			border-radius: 50%;
			min-width: 64px;
			height: 64px;
			text-align: center;
		}

		@media (max-width: 480px) {
			min-width: 52px;
			height: 52px;
		}
	}

	.info {
		max-width: 656px;
		max-height: 478px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		@media (max-width: 1440px) {
			max-width: 519px;
			height: 387px;
		}

		@media (max-width: 1240px) {
			height: 370px;
		}

		@media (max-width: 1024px) {
			height: 355px;
		}

		@media (max-width: 640px) {
			max-height: 420px;
		}

		@media (max-width: 480px) {
			max-height: 400px;
		}
	}

	.icons {
		display: flex;
		justify-content: space-between;
		width: 119px;

		@media (max-width: 1240px) {
			display: none;
		}
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 32px;

		@media (max-width: 1440px) {
			margin-bottom: 16px;
		}

		@media (max-width: 1240px) {
			text-align: center;
			justify-content: center;
			margin-bottom: 8px;
			margin-top: 24px;
		}

		@media (max-width: 480px) {
			margin: 18px 0 4px;
		}
	}

	.experience {
		display: flex;
		flex-direction: row;
		gap: 24px;

		@media (max-width: 1240px) {
			justify-content: center;
			margin-top: 42px;
		}

		@media (max-width: 640px) {
			margin-top: 36px;
		}
	}

	.experienceItem {
		max-width: 97px;
		max-height: 117px;

		@media (max-width: 1024px) {
			max-width: 64px;
		}
	}

	.experienceTitle {
		font-size: 32px;
		text-align: center;

		@media (max-width: 1440px) {
			font-size: 28px;
		}

		@media (max-width: 1240px) {
			font-size: 24px;
		}

		@media (max-width: 1024px) {
			font-size: 22px;
		}
	}

	.experienceDescription {
		text-align: center;
		font-size: 20px;
		line-height: 1.35;

		@media (max-width: 1440px) {
			font-size: 18px;
		}

		@media (max-width: 1240px) {
			font-size: 16.75px;
		}

		@media (max-width: 1024px) {
			font-size: 13.2px;
		}
	}
}
