.button {
	border-radius: 100px;
	border: 2.5px solid #fff;
	padding: 14px 30px;
	background: rgba(255, 255, 255, 0);

	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	transition: 0.25s;
	color: #fafafa;

	&:hover {
		transform: calc(1.02);
		border: 2.5px solid rgb(80, 80, 80);
		color: rgb(80, 80, 80);
	}

	@media (max-width: 1440px) {
		padding: 11.65px 24px;
		font-size: 17px;
	}

	@media (max-width: 1240px) {
		padding: 10px 22px;
		font-size: 16px;
		border: 2px solid #fff;
	}

	@media (max-width: 1024px) {
		padding: 8.4px 17.5px;
		font-size: 15px;
		border: 1.75px solid #fff;
		font-weight: 700;
	}

	@media (max-width: 768px) {
		display: none;
	}
}
