.page {
	background-image: url(../../../public/images/bg.png);
	background-size: 50px;
	color: #fafafa;
	width: 100%;
	min-height: 100vh;

	.wrapper {
		padding: 24px 80px;
		display: flex;
		justify-content: center;
		flex-direction: column;

		@media (min-width: 1900px) {
			align-items: center;
		}

		@media (max-width: 1440px) {
			padding: 18px 64px;
		}

		@media (max-width: 1240px) {
			padding: 16px 48px;
		}

		@media (max-width: 1024px) {
			padding: 16px 36px;
		}

		@media (max-width: 864px) {
			padding: 16px 32px;
		}

		@media (max-width: 480px) {
			padding: 16px 24px;
		}

		@media (max-width: 375px) {
			padding: 16px 20px;
		}

		@media (max-width: 320px) {
			padding: 12px 18px;
		}

		@media (max-width: 300px) {
			padding: 12px 16px;
		}
	}
}
